// variable color
$color-primary: black;
$color-text-secondary: #fff;
$color-login: rgba(50, 64, 59, 1);
$bg-login-priamry: rgba(132, 199, 174, 1);
$color-bg-login: rgba(246, 251, 249, 1);
$color-bg-wrapper: #edf2f7;
$color-btn: #553c9a;
$color-btn-in: #6b46c1;
$color-bg-manager: #220646;
$color-bg-logout: #15012e;
$color-primary-manager: rgba(74, 85, 104, 1);
$color-title-manager: rgba(160, 174, 192, 1);
$color-table: #718096;
$color-page: rgba(203, 213, 224, 1);
$color-active-primary: rgba(241, 110, 173, 1);
$color-form: rgba(226, 232, 240, 1);
$color-active-secondary: #e03386;
$color-info: #4fd1c5;
$bg-wrapper: #f5f6f7;
$message-success : #270;
$message-error: #D8000C;
$bg-success: #DFF2BF;
$bg-error: #FFBABA;

// font-family
$font-login: Karla;
$font-manager: Roboto;

$color-primary: black;
$color-secondary: #f0f0f0;
$color-text-primary: rgba(0, 0, 0, 0.6);
$color-text-secondary: #fff;
$color-btn: #e7e7e7;
$color-line: rgba(0, 0, 0, 0.1);
$bg-product: rgba(255, 51, 51, 0.1);
$bg-primary: #f2f0f1;
$product-color: #ff3333;
$product-color-secondary: rgba(0, 0, 0, 0.4);
$color-error: rgba(255, 51, 51, 1);

//size
$basic-font-size: 20px;
$desktop: 1440px;

// font-family
$font-primary: Integral CF;
$font-secondary: Satoshi;