.manager {
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: toRem(21px) toRem(14px);
  background-color: $color-text-secondary;
  border-radius: toRem(5px);
  max-height: 97vh;

  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}