.action-edit,
.action-delete {
  text-decoration: none;
  color: $color-table;

  &:hover {
    text-decoration: underline;
    color: $color-primary;
  }
}

.action-delete {
  padding-left: toRem(40px);
}

.action {
  margin-top: toRem(16px);
  gap: toRem(3px);
  justify-content: center;
}
