.btn {
  font-family: $font-manager;
  letter-spacing: 0em;
  border-radius: toRem(23px);
  color: $color-text-secondary;
  border: toRem(1.34px);

  &:hover {
    background-color: $color-btn;
    color: $color-primary;
    cursor: pointer;
  }

  &__primary {
    margin: toRem(10px) auto 0;
    font-size: toRem(34px);
    font-weight: 700;
    padding: toRem(23px) 0;
    width: 100%;
    border-radius: toRem(23px);
    background-color: rgba(122, 92, 250, 1);
    max-width: toRem(391px);
  }

  &__close {
    margin-left: 100%;
    text-decoration: none;
    color: $color-primary;

    &:hover {
      color: $color-active-secondary;
      text-decoration: underline;
    }
  }

  &__add {
    border-radius: toRem(4px);
    background-color: $color-btn-in;
    color: $color-text-secondary;
    width: toRem(90px);
    height: toRem(40px);
    margin-right: toRem(26px);

    &:hover {
      background-color: $color-btn;
      color: $color-primary;
    }
  }

  &__confirmation {
    padding: toRem(15px);
    border-radius: toRem(8px);
    font-size: toRem(23px);

    &--remove {
      background-color: $product-color;

      &:hover {
        background-color: $color-active-secondary;
      }
    }

    &--neutral {
      background-color: $color-primary-manager;

      &:hover {
        background-color: $color-title-manager;
      }
    }
  }
}
