.confirmation {
  display: flex;
  left: 50%;
  top: 25%;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  height: toRem(300px);
  font-family: $font-manager;
  padding: toRem(30px);
  z-index: 9999;
  font-size: toRem(23.01px);
  background-color: $bg-form;

  &__desc {
    width: 100%;
    text-align: center;
    color: $color-login;
    color: $color-text-primary;
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: toRem(30px);
  }

  &__hidden {
    display: none;
  }
}
