.confirmation {
  display: flex;
  left: 50%;
  top: 25%;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  font-family: $font-manager;
  color: $color-text-primary;
  font-weight: 400;
  padding: 30px;
  z-index: 9999;
  background-color: aliceblue;

  &__desc {
    width: 100%;
    text-align: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
  }

  &__hidden {
    display: none;
  }
}