.form-primary {
  display: flex;
  flex-direction: column;
  padding: toRem(96px) toRem(98px);
  font-family: $font-manager;
  text-align: center;
  max-width: toRem(760px);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 9999;

  &__desc {
    font-size: toRem(23.01px);
    max-width: toRem(472px);
    margin: 0 auto;
    color: $color-login;
    margin-bottom: toRem(49px);
  }
}

.hidden {
  display: none;
}

.form-group {
  text-align: left;
  font-family: $font-manager;

  &__field {
    height: 30px;
    width: 100%;
    border-radius: toRem(8px);
    padding: toRem(33px) toRem(32px);
    outline: none;
    border: toRem(1.34px);
    font-size: toRem(23px);
    width: 564px;
    max-height: 56px;
    margin: toRem(10px) auto toRem(10px);
  }

  &__active {
    border: 2px solid rgba(235, 87, 87, 1);
  }

  &__error {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(235, 87, 87, 1);
  }

  & > label {
    font-size: toRem(12px);
    font-weight: 600;
    line-height: 18px;
    text-align: left;
  }
}

.form-update {
  background-color: bisque;
  & > label {
    margin-bottom: toRem(5px);
  }

  & > input {
    height: toRem(20px);
  }
}

.form-secondary {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: $color-text-secondary;
  width: 100%;
  font-family: $font-manager;

  padding: toRem(23px);

  &__search {
    padding: toRem(11px) toRem(10px) toRem(10px) toRem(40px);
    outline: none;
    border-radius: toRem(4px);
    border: 1px solid rgba(226, 232, 240, 1);
    background-image: url('../assets/images/managers/icon-search.png');
    background-repeat: no-repeat;
    background-size: toRem(17px) toRem(17px);
    background-position: center left toRem(15px);
    font-size: toRem(16px);
    color: $color-title-manager;
    max-height: toRem(40px);
    max-width: toRem(228px);
    margin-right: toRem(85px);
    font-family: $font-manager;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  z-index: 999;
}
